@if (!string.IsNullOrEmpty(Message))
{
    var alertClass = Message.StartsWith("Error") ? "alert-danger" : "alert-success";
    <div class="alert @alertClass" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}
