@page "/"

<PageTitle>Indx Cloud API</PageTitle>

<h1>Indx Cloud API</h1>

<p>This is the API endpoint of indx.co</p>
<p>
    Read the <a href="https://docs.indx.co">DOCS</a>
    <br/>
    See <a href="/swagger">Swagger</a>
</p>