@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Indx Cloud API</PageTitle>

<h1>Indx Cloud API</h1>

<p>This is the API endpoint of indx.co</p>
<p>
    Read the <a href="https://docs.indx.co">DOCS</a>
    <br/>
    See <a href="/swagger">Swagger</a>
</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Redirect non-authenticated users to login
        if (user.Identity == null || !user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
        }
    }
}