@inherits LayoutComponentBase

<PageTitle>indx Rest API</PageTitle>

<div class="layout">
    <header class="header">
        <div class="header-left">
            <a class="brand" href="">indx</a>
            <NavMenu />
        </div>
        <div class="header-right">
            <LoginDisplay />
        </div>
    </header>

    <main class="content">
        @Body
    </main>
</div>
