@inherits LayoutComponentBase

<PageTitle>indx</PageTitle>

<div class="unauth-layout">
    <div class="unauth-left">
        <div class="unauth-logo-container">
            <img src="/indxlogo.svg" alt="indx" class="unauth-logo unauth-logo-light" />
            <img src="/indxlogowhite.svg" alt="indx" class="unauth-logo unauth-logo-dark" />
        </div>
    </div>

    <div class="unauth-right">
        <div class="unauth-content">
            @Body
        </div>
    </div>
</div>
